
body {
    font-size:16px;
    background-color:black;
    border: 5px ridge orange;
    padding: 5px;
    color:purple;
}

header{
    background: #86d85e;
    padding: 2%;
}

img {
      width:50%;
      border:3px double orange;
}

.main-paragraph {
      text-align: justify;
      width: 40%;
      padding: 2px;
      border: 2px dotted #86d85e;
      margin: 2px;
      box-sizing: border-box;
      color:orange;
    }

h3 {
    color: #86d85e;;
    margin-left: 20px;
}

.another-paragraph {
  text-align: justify;
  width: 40%;
  padding: 2px;
  border: 2px dotted #800080;
  margin: 2px;
  box-sizing: border-box;
  color:orange;
}


a[href="../portfolio/about-me.html"] {
  color: red;
}

a[href="../portfolio/index.html"] {
    color: green;
  }

 p {
   color:purple;
 }

footer {
   color:red;
   padding-top: 10%;
 }
